<aside class="h-screen w-64 bg-gray-800 text-white">
  <div class="bg-blue-500 text-white p-4">
    <a href="/" class="text-2xl font-bold mb-0">{{ appTitle }}</a>
  </div>

  <div class="p-4">
    <ul>
      <li><a href="/stocks">Stock Symbols</a></li>
      <li><a href="/forex">Forex Symbols</a></li>
      <li><a href="/crypto">Crypto Symbols</a></li>
      <li><a href="/etfs">ETF Symbols</a></li>
      <li><a href="/indices">Indices Symbols</a></li>
    </ul>
  </div>

  <!-- Display selected symbols as badges in the sidebar -->
  <div class="p-4">
    <p class="mb-2 text-gray-500">My selected symbols:</p>
    <div
      *ngFor="let selectedSymbol of MySymbolsService.selectedSymbols"
      class="bg-blue-500 text-white rounded px-2 py-1 mb-2 mr-2 inline-flex items-center"
    >
      {{ selectedSymbol.symbol }}
      <button
        class="ml-2 text-blue-400"
        (click)="MySymbolsService.removeSelectedSymbol(selectedSymbol)"
      >
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
  </div>

  <!-- Add other navigation links as needed -->
</aside>
